.gallery-page h2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}
  
.crewmates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
}
  
@media (max-width: 600px) {
    .crewmates-grid {
      grid-template-columns: 1fr;
    }
}